.colorPrincipal {
  background-color: #4da5d8;
}
@font-face {
  font-family: "Gentium Book Basic";
  src: url("../fonts/GenBkBasR.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h6 {
  font-family: "Gentium Book Basic", serif;
}

@font-face {
  font-family: "Goudy Old Style";
  src: url("../fonts/GOUDOS.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
h5 {
  font-family: "Goudy Old Style", serif;
}

@font-face {
  font-family: "Acumin Variable Concept";
  src: url("../fonts/Acumin-Variable-Concept.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
p {
  font-family: "Acumin Variable Concept", sans-serif;
}
